:root {
    --wine-red: #C7375F;
    --bright-red: #D42D2F;
    --dark-green: #344D2F;
    --light-green: #77A047;
    --light-blue: #ADD8E6;
    --gold: #FAC57D;
    --snow: #F0F4F7;
    font-family: 'Mountains of Christmas', serif;
  }
  
html, body {
    margin: 0;
    padding: 0;
}
  
p {
    font-size: 3rem;
    margin: 0;
}
  
.text-s {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: lighter;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: var(--dark-green);
    background-color: var(--snow);
}

.container {
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.christmas-container {
    color: var(--snow);
    background: var(--wine-red);
}

.new-year-background {
    background: var(--light-blue);
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        gap: 2em;
    }
}